<h1>Listing rankings</h1>

<table>
  <thead>
    <tr>
      <th>パズルID</th>
      <th>タイム</th>
      <th>名前</th>
    </tr>
  </thead>
  <tbody>
    <% @rankings.each do |ranking| %>
    <tr>
    	<td><%= ranking[:puzzle_id] %></td>
      <td><%= ranking[:complete_time]%></td>
      <td><%= ranking[:user_name] %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br />

<%= link_to 'New Ranking', new_ranking_path %>
