<p id="notice"><%= notice %></p>

<p>
  <strong>Complete time:</strong>
  <%= @ranking.complete_time %>
</p>


<%= link_to 'Edit', edit_ranking_path(@ranking) %> |
<%= link_to 'Back', rankings_path %>
